.head {
  background-color: black;
  color: white;
  padding: 1rem;
  text-align: center;
}
.profile-head {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}
.productContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  margin-top: 2rem;
}